:root {
  --main-bg-color: #333333c6;
  --header-color: #ed58fe;
  --code-text-color: #f7f3f3;
  --text-color: #ed58fe;
}
header {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 30px;
  color: var(--header-color);
}

h2 {
  font-size: 30px;
  text-align: center;
  color: var(--text-color);
}

#header-p {
  color: var(--code-text-color);
}

body {
  background-color: var(--main-bg-color);
  color: var(--code-text-color);
}

p {
  color: var(--text-color);
  padding: 2% 5%;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.code-card {
  border-style: dotted;
  border-color: var(--code-text-color);
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  border-width: 2px;
  border-radius: 10px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px #ed58fe;
  margin: 20px;
}

.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgb(161, 4, 167);
}

.card-header {
  position: relative;
  margin-top: -20px;
  background-color: var(--main-bg-color);
  border-style: double;
  border-color: var(--code-text-color);
}

footer {
  text-align: center;
  font-size: 20px;
}
